header {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    position: relative;
    z-index: 1000;
}
header .container {
    display: flex;
    align-items: center;
}
.logo {
    max-width: 60px;
    max-height: 30px;
    object-fit: scale-down;
    object-position: center;
    margin-right: auto;
}
nav {
    display: flex;
    align-items: center;
}
nav button {
    color: var(--color-2);
    padding: .5em 1em;
    font-size: 1.1em;
    font-weight: 400;
}
nav button.active {
    color: var(--color-1);
}