@charset "UTF-8";
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, table, ul, ol, dl {
  line-height: normal;
  margin-bottom: 0px;
}

/* mixins */
/* FORMS CUSTOMIZATION */
input,
textarea {
  background: #ffffff;
  border: 1px solid #ECECEC;
  border-radius: 0.3em;
  padding: 0.85em;
  width: 100%;
  line-height: normal;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  border: 1px solid #ECECEC;
}

input:hover,
textarea:hover {
  border: 1px solid #ECECEC;
}

input:focus,
textarea:focus {
  border: 1px solid #146492;
}

input[type="search"] {
  padding: 0.85em 0.85em 0.85em 3em;
  outline: none;
  background-size: 1.5em 1.5em;
}

input[type="search"]:hover, input[type="search"]:focus {
  background-size: 1.5em 1.5em;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: none;
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  background-size: contain;
  padding: 0px;
}

input[type="radio"]:checked {
  background-size: contain;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: none;
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  background-size: auto;
  background-color: #ECECEC;
  padding: 0px;
  border-radius: .25em;
}

input[type="checkbox"]:checked {
  background-color: #146492;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: normal;
  background: url(bg-imgs/caret-down.svg) no-repeat right center;
  background-size: 1em .5em;
  padding: 0 1.2em 0 0;
  outline: none;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 0.6em 2em;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  line-height: normal;
}

.btn-1 {
  background-color: #146492;
  color: #fff;
}

.btn-1:hover, .btn-1:focus, .btn-1:active {
  color: #fff;
  background: #105277;
}

.btn-1:disabled {
  color: #C4C4C4;
  background: #7a7878;
}

.btn-fav {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-fav svg {
  width: 22px;
  height: 22px;
  fill: none;
}

.btn-fav svg path {
  fill: #878787;
}

.btn-fav.clicked {
  background-color: #C59C7E;
}

.btn-fav.clicked svg path {
  fill: #fff;
}

h1, h2, h3 {
  font-family: "Gilroy";
}

h1.main {
  text-align: left;
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 1.875em;
  color: #16445E;
}

h1.main.main {
  text-align: center;
  font-size: 3em;
  color: #146492;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  padding: .1em 1em;
}

@media (max-width: 1199px) {
  h1.main.main {
    font-size: 2.5em;
    padding: .1em .5em;
  }
}

@media (max-width: 1199px) {
  h1.main.main {
    font-size: 2em;
  }
}

h2 {
  text-align: center;
  font-size: 2.25em;
  font-weight: 600;
  margin-bottom: 1em;
  color: #146492;
}

h3 {
  text-align: left;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 1em;
  color: #146492;
}

.title-font {
  font-family: "Gilroy";
}

.fs-07 {
  font-size: 0.7em;
}

.fs-08 {
  font-size: 0.8em;
}

.fs-09 {
  font-size: 0.9em;
}

.fs-11 {
  font-size: 1.1em;
}

.fs-12 {
  font-size: 1.2em;
}

.fs-13 {
  font-size: 1.3em;
}

.fs-14 {
  font-size: 1.4em;
}

.fs-15 {
  font-size: 1.5em;
}

.fs-16 {
  font-size: 1.6em;
}

.fs-17 {
  font-size: 1.7em;
}

.fs-18 {
  font-size: 1.8em;
}

.fs-19 {
  font-size: 1.9em;
}

.fs-20 {
  font-size: 2em;
}

.fs-90 {
  font-size: 9em;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.color-1 {
  color: #146492;
}

.color-2 {
  color: #C59C7E;
}

.color-3 {
  color: #ECECEC;
}

@media (min-width: 1660px) {
  .container {
    width: 1596px;
    max-width: 1596px;
  }
}

.mb-6 {
  margin-bottom: 6em;
}

header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

@media (max-width: 1199px) {
  header {
    padding: .5em 0;
    height: 55px;
  }
}

@media (max-width: 575px) {
  header {
    height: 48px;
    padding: .75em 0;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav a {
  color: #C59C7E;
  padding: .5em 1em;
  font-size: 1.1em;
  font-weight: 400;
}

header .container nav a.active {
  color: #146492;
}

@media (max-width: 1199px) {
  header .container nav a {
    padding: .5em;
  }
}

@media (max-width: 991px) {
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .logo {
  max-width: 60px;
  max-height: 30px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 576px) {
  header .logo {
    max-width: 40px;
    max-height: 20px;
  }
}

header select {
  font-size: .9em;
}

@media (max-width: 991px) {
  header select {
    font-size: 1.1em;
  }
}

main {
  min-height: calc(100vh - 320px);
}

@media (max-width: 1199px) {
  main {
    min-height: calc(100vh - 305px);
  }
}

@media (max-width: 767px) {
  main {
    min-height: calc(100vh - 105px);
  }
}

@media (max-width: 575px) {
  main {
    min-height: calc(100vh - 98px);
  }
}

#sec-1 {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(bg-imgs/bg1.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-bottom: 5em;
  margin-bottom: -5em;
}

#sec-1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5em;
  background: rgba(36, 44, 49, 0.22);
  -webkit-filter: blur(36px);
          filter: blur(36px);
}

@media (max-width: 991px) {
  #sec-1 {
    height: 550px;
  }
}

@media (max-width: 767px) {
  #sec-1 {
    height: 500px;
  }
}

@media (max-width: 575px) {
  #sec-1 {
    height: 400px;
  }
}

/* SECTION 2 */
.tiles {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tiles .tile {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: calc((100% - 150px) / 5);
  margin-bottom: 25px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tiles .tile img {
  height: 135px;
  width: 135px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  display: block;
  margin: 0 auto;
}

.tiles .tile .links {
  width: 100%;
  height: 100px;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 4px;
  background: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.tiles .tile .links a {
  font-size: 1.5em;
  font-weight: 500;
  color: #C59C7E;
  margin: 0 .5em;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

@media (min-width: 576px) {
  .tiles .tile .links:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
  .tiles .tile .links:hover a {
    color: #146492;
  }
  .tiles .tile .links:hover a::before {
    content: "⦁ ";
  }
}

@media (max-width: 1659px) {
  .tiles .tile {
    height: 250px;
  }
  .tiles .tile .links {
    height: 90px;
  }
  .tiles .tile .links a {
    font-size: 1.25em;
  }
}

@media (max-width: 1399px) {
  .tiles {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tiles .tile {
    height: 240px;
    width: calc((100% - 80px) / 5);
    margin-bottom: 20px;
  }
  .tiles .tile .links {
    height: 80px;
    padding: 0.5em 0;
  }
}

@media (max-width: 1199px) {
  .tiles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tiles .tile {
    width: calc((100% - 80px) / 4);
    margin-left: 10px;
    margin-right: 10px;
  }
  .tiles .tile img {
    height: 100px;
    width: 100px;
    margin: 0 auto 15px;
  }
}

@media (max-width: 991px) {
  .tiles .tile {
    width: calc((100% - 60px) / 3);
  }
}

@media (max-width: 767px) {
  .tiles .tile {
    width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 575px) {
  .tiles .tile {
    width: calc((100% - 32px) / 2);
    height: calc(30vw + 55px);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
  }
  .tiles .tile img {
    height: 20vw;
    width: 20vw;
    margin: 0 auto 5px;
  }
  .tiles .tile .links {
    height: 55px;
    padding: 0.6em 0;
  }
  .tiles .tile .links a {
    margin: 0 0.3em;
  }
}

/* card */
.card-mini {
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
}

.card-mini .photo {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-mini .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  font-size: .9em;
  font-weight: 300;
}

.card-mini .labels {
  position: absolute;
  top: 10px;
  left: 0px;
}

.card-mini .labels div {
  color: #fff;
  padding: 0.1em 0.25em;
  margin-bottom: 0.2em;
  font-weight: 500;
  font-size: .95em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-mini .labels div img {
  margin-right: .15em;
  width: 1.5em;
  height: 1.5em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.card-mini .labels div.vip {
  background-color: #146492;
}

.card-mini .labels div.hot {
  background-color: #C59C7E;
}

/* SECTION 5 */
#sec-5 {
  background: url(bg-imgs/bg2.png) no-repeat center bottom;
  background-size: cover;
}

article {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

article img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1659px) {
  article img {
    height: 240px;
  }
}

@media (max-width: 1399px) {
  article img {
    height: 220px;
  }
}

@media (max-width: 1199px) {
  article img {
    height: 200px;
  }
}

@media (max-width: 575px) {
  article img {
    height: 55vw;
  }
}

@media (max-width: 1659px) {
  article h2 {
    font-size: 2em;
  }
}

@media (max-width: 1399px) {
  article h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 1199px) {
  article h2 {
    font-size: 1.5em;
  }
}

article .text {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  height: 12em;
  overflow: hidden;
  font-size: .9em;
  font-weight: 300;
}

@media (max-width: 1399px) {
  article .text {
    -webkit-line-clamp: 8;
    line-height: 1.2em;
    height: 9.6em;
  }
}

@media (max-width: 1199px) {
  article .text {
    -webkit-line-clamp: 6;
    line-height: 1.2em;
    height: 7.2em;
  }
}

/* SECTION 6 - catalog */
/* SLIDERS */
.slider {
  height: 280px;
  width: 100%;
  position: relative;
}

.slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.slider img.active {
  opacity: 1;
}

.slider .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slider .box .section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.slider .box .section::after {
  content: "";
  position: absolute;
  bottom: .5em;
  left: .5em;
  right: .5em;
  height: 15px;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.slider .box .section.active::after {
  background-color: white;
}

.swiper-4 {
  overflow: hidden;
  padding: 1em 0 3em;
}

.swiper-3 {
  overflow: hidden;
  padding: 1em 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 1.5em;
  height: 3em;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: unset;
}

.swiper-button-next {
  right: -2em;
}

.swiper-button-prev {
  left: -2em;
}

.swiper-pagination {
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet {
  width: 1em;
  height: 1em;
  background-color: #ECECEC;
  opacity: 1;
}

.swiper-pagination-bullet:not(:first-child) {
  margin-left: .75em;
}

.swiper-pagination-bullet-active {
  background-color: #C59C7E;
}

footer {
  background-color: #373C3F;
  height: 250px;
}

@media (max-width: 767px) {
  footer {
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */