@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, table, ul, ol, dl {
  line-height: normal;
  margin-bottom: 0px;
}

/*****************
SCROLL STYLIZATION
******************/
html {
  scrollbar-color: #e0e0e0 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar:hover, ::-webkit-scrollbar:active {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb:active {
  background-color: #C59C7E;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}

/* mixins */
/* FORMS CUSTOMIZATION */
input,
textarea {
  background: #ffffff;
  border: 1px solid #E0E0E0;
  border-radius: 0.3em;
  padding: .5em .85em;
  width: 100%;
  line-height: normal;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: none;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  border: 1px solid #BDBDBD;
}

input:hover,
textarea:hover {
  border: 1px solid #828282;
}

input:focus,
textarea:focus {
  border: 1px solid #146492;
}

input[type="number"] {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: calc(100% - 0.5em) center;
  padding: .5em .5em .5em .5em;
  width: 100px;
  max-width: 100%;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].price {
  background-image: url(bg-imgs/rub.svg);
  padding: .5em 1.5em .5em .5em;
}

input[type="number"].area {
  background-image: url(bg-imgs/м2.svg);
  padding: .5em 1.5em .5em .5em;
}

input[type="number"].length {
  background-image: url(bg-imgs/м.svg);
  padding: .5em 1.5em .5em .5em;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: none;
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  background-size: contain;
  padding: 0px;
}

input[type="radio"]:checked {
  background-size: contain;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  padding: 0px;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="checkbox"]:checked {
  background: url(bg-imgs/mark2.svg) no-repeat center;
  background-size: auto;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label input:checked + span {
  color: #146492;
}

label span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

label.inp-text div {
  padding: .5em 1em;
  background-color: #C59C7E;
  color: #fff;
  border-radius: 2em;
}

label.inp-text input {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

label.inp-text input:checked + div {
  background-color: #146492;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  border: none;
  line-height: normal;
  background: url(bg-imgs/caret-down.svg) no-repeat right center;
  background-size: 1em .5em;
  padding: 0 1.2em 0 0;
}

/* custom select */
.custom-select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  position: relative;
}

.custom-select > button {
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-select > button div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.custom-select > button div span:not(:empty):before {
  content: ":";
}

.custom-select > button svg {
  width: 1.4rem;
  height: .75rem;
  fill: none;
}

@media (max-width: 575px) {
  .custom-select > button svg {
    width: 1em;
    height: .75rem;
  }
}

.custom-select > button svg line {
  stroke: #4F4F4F;
  stroke-width: 2px;
}

@media (max-width: 575px) {
  .custom-select > button svg line {
    stroke-width: 3px;
  }
}

.custom-select > button.btn svg line {
  stroke: #fff;
}

.custom-select .dropdown-toggle::after {
  content: unset;
}

.custom-select .options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  min-width: 100%;
  max-width: 500px;
  max-height: 400px;
  overflow-y: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 2;
}

.custom-select .options[data-alignment="right"] {
  left: unset;
  right: 0;
}

.custom-select .options label.radio-line {
  display: block;
  position: relative;
  z-index: 1;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #146492;
  padding: 0.5em 2em;
  cursor: pointer;
  white-space: nowrap;
}

.custom-select .options label.radio-line:hover input {
  background-color: #ECECEC;
}

.custom-select .options label.radio-line input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0px;
  -webkit-transition: .2s;
  transition: .2s;
}

.custom-select .options label.radio-line input:checked {
  background-color: #ECECEC;
}

.custom-select.dual .options {
  max-width: calc(100vw - 24px);
}

.custom-select.dual .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 1px solid #E0E0E0;
}

.custom-select.dual .nav-tabs .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-select.dual .nav-tabs .nav-item .nav-link {
  border: none;
  margin-bottom: 0px;
  font-family: "Gilroy";
  color: #C59C7E;
  font-weight: 500;
  padding: .25em 1em;
}

.custom-select.dual .nav-tabs .nav-item .nav-link.active {
  color: #146492;
  font-weight: 700;
}

.custom-select.dual .tab-content .tab-pane {
  padding: 1em 1em .75em;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

@media (max-width: 575px) {
  .custom-select.dual .tab-content .tab-pane {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.custom-select.dual .tab-content .tab-pane label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.custom-select.dual .tab-content .tab-pane label:not(:last-child) {
  margin-bottom: .5em;
}

.input-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 2.5em;
  width: 2.5em;
  border-radius: .25em;
  -webkit-transition: .2s;
  transition: .2s;
}

.input-file:hover {
  background-color: #C59C7E;
}

.input-file:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.input-file input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 1px;
  height: 1px;
  top: 0px;
  left: 0px;
  padding: 0px;
}

.input-file img {
  height: 2em;
  width: 2em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.input-file .ind {
  position: absolute;
  bottom: -.5em;
  right: -.25em;
  width: 1.2em;
  height: 1.2em;
  font-size: .9em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECECEC;
  color: #146492;
  font-weight: 600;
}

.input-file .ind:empty {
  display: none;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 0.5em 2em;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  line-height: normal;
}

.btn-1 {
  background-color: #146492;
  color: #fff;
}

.btn-1:hover, .btn-1:focus, .btn-1:active {
  color: #fff;
  background-color: #105277;
}

.btn-1:disabled {
  color: #C4C4C4;
  background-color: #7a7878;
}

.btn-2 {
  background-color: #C59C7E;
  color: #fff;
}

.btn-2:hover, .btn-2:focus, .btn-2:active {
  color: #fff;
  background-color: #bc8c69;
}

.btn-2:disabled {
  color: #C4C4C4;
  background-color: #7a7878;
}

.btn-2 svg line {
  stroke: #fff;
}

.btn-fav {
  width: 2.125em;
  height: 2.125em;
  border-radius: 50%;
  background-color: #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
}

.btn-fav svg {
  width: 1.375em;
  height: 1.375em;
  fill: none;
}

.btn-fav svg path {
  fill: #828282;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.btn-fav:hover svg path, .btn-fav:focus svg path {
  fill: #146492;
}

.btn-fav:active, .btn-fav.clicked {
  background-color: #C59C7E;
}

.btn-fav:active svg path, .btn-fav.clicked svg path {
  fill: #fff;
}

.btn-pin {
  width: 2.125em;
  height: 2.125em;
  border-radius: 50%;
  background-color: #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-pin svg {
  width: 1em;
  height: 1.125em;
  fill: none;
}

.btn-pin svg path {
  fill: #146492;
}

.btn-notice {
  width: 2.125em;
  height: 2.125em;
  border-radius: 50%;
  background-color: #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2px;
}

.btn-notice svg {
  width: 1.3em;
  height: 1.3em;
  fill: none;
}

.btn-notice svg path.fill-color {
  fill: #828282;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.btn-notice:hover svg path.fill-color, .btn-notice:focus svg path.fill-color {
  fill: #146492;
}

h1, h2, h3 {
  font-family: "Gilroy";
}

h1 {
  text-align: left;
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 1.875em;
  color: #16445E;
}

h1.main {
  text-align: center;
  font-size: 3em;
  color: #146492;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  padding: .1em 1em;
}

@media (max-width: 1199px) {
  h1.main {
    font-size: 2.5em;
    padding: .1em .5em;
  }
}

@media (max-width: 1199px) {
  h1.main {
    font-size: 2em;
  }
}

h2 {
  text-align: center;
  font-size: 2.25em;
  font-weight: 600;
  margin-bottom: 1em;
  color: #146492;
}

@media (max-width: 1199px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  text-align: left;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 1em;
  color: #146492;
}

@media (max-width: 1199px) {
  h3 {
    font-size: 1.5em;
  }
}

h4 {
  font-family: "Gilroy";
  text-align: left;
  color: #545454;
  font-size: 1.5em;
  font-weight: 700;
}

.title-font {
  font-family: "Gilroy";
}

.fs-07 {
  font-size: 0.7em;
}

.fs-08 {
  font-size: 0.8em;
}

.fs-09 {
  font-size: 0.9em;
}

.fs-11 {
  font-size: 1.1em;
}

.fs-12 {
  font-size: 1.2em;
}

.fs-13 {
  font-size: 1.3em;
}

.fs-14 {
  font-size: 1.4em;
}

.fs-15 {
  font-size: 1.5em;
}

.fs-16 {
  font-size: 1.6em;
}

.fs-17 {
  font-size: 1.7em;
}

.fs-18 {
  font-size: 1.8em;
}

.fs-19 {
  font-size: 1.9em;
}

.fs-20 {
  font-size: 2em;
}

.fs-90 {
  font-size: 9em;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.gray-2 {
  color: #4F4F4F;
}

.gray-3 {
  color: #828282;
}

.gray-4 {
  color: #BDBDBD;
}

.color-1 {
  color: #146492;
}

.color-2 {
  color: #C59C7E;
}

.color-3 {
  color: #ECECEC;
}

.shad-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1660px) {
  .container {
    width: 1596px;
    max-width: 1596px;
  }
}

.mb-6 {
  margin-bottom: 6em;
}

@media (max-width: 575px) {
  .mb-6 {
    margin-bottom: 4em;
  }
}

.show-phone {
  position: relative;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-phone .phone {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-phone button {
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.show-phone button.invisible {
  z-index: -1;
  opacity: 0;
}

.dropdown-menu {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0px;
  border: none !important;
}

.dropdown-menu li a.dropdown-item {
  color: #146492 !important;
  padding: 0.5em 2em !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.dropdown-menu li a.dropdown-item:hover, .dropdown-menu li a.dropdown-item:focus {
  background-color: #ECECEC;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #545454;
  font-size: 16px;
  background-color: #fff;
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
}

header {
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

@media (max-width: 1199px) {
  header {
    padding: .5em 0;
    height: 55px;
  }
}

@media (max-width: 991px) {
  header {
    height: 50px;
  }
}

@media (max-width: 575px) {
  header {
    height: 48px;
    padding: .75em 0;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav a {
  color: #C59C7E;
  padding: .5em 1em;
  font-size: 1.1em;
  font-weight: 400;
  -webkit-transition: .2s;
  transition: .2s;
}

header .container nav a.active, header .container nav a:hover, header .container nav a:focus {
  color: #146492;
}

@media (max-width: 1199px) {
  header .container nav a {
    padding: .5em;
  }
}

@media (max-width: 991px) {
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .logo {
  max-width: 60px;
  max-height: 30px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 576px) {
  header .logo {
    max-width: 40px;
    max-height: 20px;
  }
}

@media (max-width: 575px) {
  header .custom-select {
    max-width: 80px;
  }
}

header .custom-select > button {
  font-size: .9em;
}

@media (max-width: 991px) {
  header .custom-select > button {
    font-size: 1.1em;
  }
}

header .custom-select > button svg {
  width: 1em;
  height: 1em;
}

header .custom-select > button svg line {
  stroke: #C59C7E;
}

@media (max-width: 575px) {
  header .btn {
    font-size: .9em;
  }
}

main {
  min-height: calc(100vh - 320px);
  position: relative;
}

@media (max-width: 1199px) {
  main {
    min-height: calc(100vh - 305px);
  }
}

@media (max-width: 767px) {
  main {
    min-height: calc(100vh - 105px);
  }
}

@media (max-width: 575px) {
  main {
    min-height: calc(100vh - 98px);
  }
}

#sec-1 {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(bg-imgs/bg1.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-bottom: 5em;
  margin-bottom: -5em;
}

#sec-1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5em;
  background: rgba(36, 44, 49, 0.22);
  -webkit-filter: blur(36px);
          filter: blur(36px);
}

@media (max-width: 991px) {
  #sec-1 {
    height: 550px;
  }
}

@media (max-width: 767px) {
  #sec-1 {
    height: 500px;
  }
}

@media (max-width: 575px) {
  #sec-1 {
    height: 400px;
  }
}

/* SECTION 2 */
.tiles {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tiles .tile {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: calc((100% - 150px) / 5);
  margin-bottom: 25px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tiles .tile img {
  height: 135px;
  width: 135px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  display: block;
  margin: 0 auto;
}

.tiles .tile .links {
  width: 100%;
  border-radius: 4px;
  background: #FFFFFF;
  position: relative;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 0;
}

.tiles .tile .links .title {
  font-size: 1.5em;
  font-weight: 500;
  color: #C59C7E;
  margin: 0 .5em;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

.tiles .tile .links .hover-links {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 1399px) {
  .tiles .tile .links .hover-links {
    padding: .5em 0;
  }
}

.tiles .tile .links .hover-links div {
  margin: 0 .5em;
}

.tiles .tile .links .hover-links div::before {
  content: "⦁";
  color: #146492;
  font-size: 1.5em;
}

.tiles .tile .links .hover-links div a {
  font-size: 1.5em;
  font-weight: 500;
  color: #146492;
  text-align: center;
}

@media (max-width: 1659px) {
  .tiles .tile .links .hover-links div a {
    font-size: 1.25em;
  }
}

.tiles .tile .links .hover-links div a:hover, .tiles .tile .links .hover-links div a:focus {
  border-bottom: 1px solid;
}

.tiles .tile .links:hover .hover-links {
  opacity: 1;
}

.tiles .tile .click-links {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tiles .tile .click-links .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  color: #C59C7E;
  font-weight: 500;
  font-size: 1.4em;
}

@media (max-width: 575px) {
  .tiles .tile .click-links .titles {
    font-size: 1.2em;
  }
}

.tiles .tile .click-links .titles .title {
  margin: 0 0.5em;
}

.tiles .tile .click-links ul {
  padding-left: 1.5em;
}

.tiles .tile .click-links ul li {
  color: #146492;
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

@media (max-width: 575px) {
  .tiles .tile .click-links ul li {
    margin-bottom: 0.5em;
    font-size: 1.1em;
  }
}

@media (max-width: 1659px) {
  .tiles .tile {
    height: 250px;
  }
  .tiles .tile .links {
    height: 90px;
  }
  .tiles .tile .links .title {
    font-size: 1.25em;
  }
}

@media (max-width: 1399px) {
  .tiles {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tiles .tile {
    height: 240px;
    width: calc((100% - 80px) / 5);
    margin-bottom: 20px;
  }
  .tiles .tile .links {
    height: 80px;
    padding: 0.5em 0;
  }
}

@media (max-width: 1199px) {
  .tiles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tiles .tile {
    width: calc((100% - 80px) / 4);
    margin-left: 10px;
    margin-right: 10px;
  }
  .tiles .tile img {
    height: 100px;
    width: 100px;
    margin: 0 auto 15px;
  }
}

@media (max-width: 991px) {
  .tiles .tile {
    width: calc((100% - 60px) / 3);
  }
  .tiles .tile .hover-links {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .tiles .tile {
    width: calc((100% - 40px) / 2);
  }
  .tiles .tile .links {
    height: 70px;
  }
}

@media (max-width: 575px) {
  .tiles .tile {
    width: calc((100% - 20px) / 2);
    height: calc(30vw + 55px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .tiles .tile img {
    height: 20vw;
    width: 20vw;
    margin: 0 auto 5px;
  }
  .tiles .tile .links {
    height: 55px;
    padding: 0.6em 0;
  }
  .tiles .tile .links a {
    margin: 0 0.3em;
  }
}

/* card */
.card-mini {
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
}

.card-mini .photo {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-mini .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-mini .address img {
  width: .875em;
}

.card-mini .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  font-size: .9em;
  font-weight: 300;
}

.card-mini .btn-fav {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.labels {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 10;
}

.labels div {
  color: #fff;
  padding: 0.1em 0.25em;
  margin-bottom: 0.2em;
  font-weight: 500;
  font-size: .95em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labels div img {
  margin-right: .15em;
  width: 1.5em;
  height: 1.5em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.labels div.vip {
  background-color: #146492;
}

.labels div.hot {
  background-color: #C59C7E;
}

.card-midi {
  position: relative;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-midi .text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  height: 6em;
  overflow: hidden;
  font-size: .9em;
  font-weight: 300;
}

.card-midi .bottom-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-midi .bottom-btns > * {
  margin-right: 1em;
}

.card-midi .img-preview {
  margin-top: .75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card-midi .img-preview .wrap {
  width: calc((100% - 1em) / 3);
  position: relative;
}

.card-midi .img-preview .wrap:not(:first-child) {
  margin-left: .5em;
}

.card-midi .img-preview .wrap img {
  width: 100%;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1659px) {
  .card-midi .img-preview .wrap img {
    height: 80px;
  }
}

.card-midi .img-preview .wrap .extra {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-family: "Gilroy";
  font-size: .9em;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0em;
}

.card-midi .author img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-midi .show-phone {
  position: relative;
  width: 160px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-midi .show-phone div {
  position: relative;
  z-index: 1;
}

.card-midi .show-phone button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hover-slider {
  height: 280px;
  width: 100%;
  position: relative;
}

@media (max-width: 1659px) {
  .hover-slider {
    height: 240px;
  }
}

@media (max-width: 1399px) {
  .hover-slider {
    height: 270px;
  }
}

@media (max-width: 1199px) {
  .hover-slider {
    height: 240px;
  }
}

@media (max-width: 991px) {
  .hover-slider {
    height: 260px;
  }
}

@media (max-width: 767px) {
  .hover-slider {
    height: 200px;
  }
}

@media (max-width: 575px) {
  .hover-slider {
    height: 67vw;
  }
}

.hover-slider .sld {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  z-index: -1;
}

.hover-slider .sld img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hover-slider .sld.active {
  opacity: 1;
}

.hover-slider .sld .extra {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Gilroy";
  font-size: 1.2em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover-slider .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hover-slider .box .section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.hover-slider .box .section::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 2px;
  right: 2px;
  height: 5px;
  background-color: #ECECEC;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-slider .box .section.active::after {
  background-color: #146492;
}

/* SECTION 5 */
#sec-5 {
  background: url(bg-imgs/bg2.png) no-repeat center bottom;
  background-size: 100% auto;
}

@media (max-width: 575px) {
  #sec-5 .info {
    font-size: 10px;
  }
}

article {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

article img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1659px) {
  article img {
    height: 240px;
  }
}

@media (max-width: 1399px) {
  article img {
    height: 220px;
  }
}

@media (max-width: 1199px) {
  article img {
    height: 200px;
  }
}

@media (max-width: 767px) {
  article img {
    height: 160px;
  }
}

@media (max-width: 575px) {
  article img {
    height: 55vw;
  }
}

@media (max-width: 1659px) {
  article h2 {
    font-size: 2em;
  }
}

@media (max-width: 1399px) {
  article h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 1199px) {
  article h2 {
    font-size: 1.5em;
  }
}

article .text {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  height: 12em;
  overflow: hidden;
  font-size: .9em;
  font-weight: 300;
}

@media (max-width: 1399px) {
  article .text {
    -webkit-line-clamp: 8;
    line-height: 1.2em;
    height: 9.6em;
  }
}

@media (max-width: 1199px) {
  article .text {
    -webkit-line-clamp: 6;
    line-height: 1.2em;
    height: 7.2em;
  }
}

/* SECTION 6 - catalog */
.form-search {
  --title-size: 1.5em;
  --size: 1.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 215px 270px auto 180px;
      grid-template-columns: 160px 215px 270px auto 180px;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em .5em;
  width: 100%;
}

@media (max-width: 1659px) {
  .form-search {
    --title-size: 1.4em;
  }
}

@media (max-width: 1399px) {
  .form-search {
    --title-size: 1.3em;
    -ms-grid-columns: 130px 180px 250px auto 160px;
        grid-template-columns: 130px 180px 250px auto 160px;
  }
}

@media (max-width: 1199px) {
  .form-search {
    --title-size: 1.2em;
    --size: 1em;
    -ms-grid-columns: 120px 150px 190px auto 140px;
        grid-template-columns: 120px 150px 190px auto 140px;
  }
}

@media (max-width: 991px) {
  .form-search {
    -ms-grid-columns: 30% 30% 4fr;
        grid-template-columns: 30% 30% 4fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .form-search {
    grid-gap: .75em .5em;
  }
}

@media (max-width: 575px) {
  .form-search {
    --title-size: 1em;
    grid-gap: .5em .25em;
  }
}

.form-search .map-search {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: var(--size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991px) {
  .form-search .map-search {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-search .map-search img {
    width: 1em;
  }
}

.form-search .sel-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
}

@media (max-width: 991px) {
  .form-search .sel-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.form-search .sel-1 .btn {
  font-size: var(--title-size);
}

.form-search .sel-1 label {
  font-size: var(--size);
}

.form-search .sel-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
}

@media (max-width: 991px) {
  .form-search .sel-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.form-search .sel-2 .btn {
  font-size: var(--title-size);
}

.form-search .sel-2 label {
  font-size: var(--size);
}

.form-search .sel-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
}

@media (max-width: 991px) {
  .form-search .sel-3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.form-search .sel-3 .btn {
  width: 100%;
  font-size: var(--title-size);
}

.form-search .sel-3 label {
  font-size: var(--size);
}

.form-search input[type="search"] {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  font-size: var(--title-size);
}

@media (max-width: 991px) {
  .form-search input[type="search"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.form-search button[type="submit"] {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  font-size: var(--title-size);
}

@media (max-width: 991px) {
  .form-search button[type="submit"] {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.form-search .popular-queries {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  font-size: 1.1em;
}

@media (max-width: 991px) {
  .form-search .popular-queries {
    display: none;
  }
}

.form-search .popular-queries div {
  white-space: nowrap;
}

.form-search .popular-queries button {
  color: #146492;
  margin-left: 3em;
  font-weight: 500;
  border-bottom: 1px solid #146492;
  white-space: nowrap;
}

.btn-view svg rect {
  fill: #E0E0E0;
}

.btn-view:hover svg rect {
  fill: #146492;
}

#mobile-filters .btn-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-filters .btn-collapse span::after {
  content: "Расширенный фильтр";
}

#mobile-filters .btn-collapse svg {
  -webkit-transition: .2s;
  transition: .2s;
}

#mobile-filters .btn-collapse[aria-expanded="true"] svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#mobile-filters .btn-collapse[aria-expanded="true"] span::after {
  content: "Свернуть фильтр";
}

/* SECTION 7 - card page */
#sec-7 .icon-mini {
  width: 1.25em;
  height: 1.25em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#sec-7 .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sec-7 .btns button {
  width: 2.2em;
  height: 2.2em;
  margin-right: 1em;
}

@media (max-width: 1659px) {
  #sec-7 .frame {
    font-size: 14px;
  }
}

@media (max-width: 1199px) {
  #sec-7 .frame {
    font-size: 12px;
  }
}

#ReactSimpleImageViewer {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
}

#ReactSimpleImageViewer .react-simple-image-viewer__next,
#ReactSimpleImageViewer .react-simple-image-viewer__previous,
#ReactSimpleImageViewer .react-simple-image-viewer__close {
  opacity: .4;
}

.author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1199px) {
  .author img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 575px) {
  .author img {
    width: 80px;
    height: 80px;
  }
}

.frame {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.column-2 {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 150px;
          column-gap: 150px;
  padding-right: 150px;
}

@media (max-width: 1659px) {
  .column-2 {
    -webkit-column-gap: 100px;
            column-gap: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1399px) {
  .column-2 {
    -webkit-column-gap: 80px;
            column-gap: 80px;
    padding-right: 0px;
  }
}

@media (max-width: 991px) {
  .column-2 {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

@media (max-width: 767px) {
  .column-2 {
    -webkit-column-gap: 0px;
            column-gap: 0px;
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.specification {
  background-image: url(bg-imgs/slice.png);
  background-repeat: repeat-x;
  background-size: auto;
  background-position: 50% .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #545454;
}

.specification:not(:first-child) {
  margin-top: 1em;
}

.specification .left span {
  background-color: #fff;
}

.specification .right {
  text-align: right;
}

.specification .right span {
  background-color: #fff;
}

.mobile-btns {
  position: -webkit-sticky;
  position: sticky;
  bottom: 50px;
  left: 0px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

@media (max-width: 575px) {
  .mobile-btns {
    font-size: 10px;
  }
}

.card-page-top {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

@media (max-width: 575px) {
  .card-page-top {
    top: 48px;
  }
}

.card-page-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-page-top .container div.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 1.5em;
  color: #146492;
}

.card-page-top .container button {
  margin-left: 1em;
}

.message-form .photo {
  position: relative;
}

.message-form .photo img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

/* SECTION 8 - article page */
#sec-8 .article-full .article-page-img {
  width: 500px;
  float: left;
  margin: 0 1.5em 1.5em 0;
}

@media (max-width: 1659px) {
  #sec-8 .article-full .article-page-img {
    width: 450px;
  }
}

@media (max-width: 1399px) {
  #sec-8 .article-full .article-page-img {
    width: 350px;
  }
}

@media (max-width: 991px) {
  #sec-8 .article-full .article-page-img {
    width: 300px;
  }
}

@media (max-width: 767px) {
  #sec-8 .article-full .article-page-img {
    width: 100%;
    margin: 0 0 1.5em 0;
  }
}

#sec-8 .article-full .text {
  font-weight: 300;
  font-size: 1.2em;
}

#sec-8 .article-full .text p {
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  #sec-8 .article-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

/* SECTION 9 - article page */
#sec-9 nav.service-nav a {
  font-size: 1.5em;
  font-weight: 500;
  color: #C59C7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 100%;
  padding: 1.5em 1em;
}

#sec-9 nav.service-nav a svg {
  fill: none;
}

#sec-9 nav.service-nav a svg .fill {
  fill: #C59C7E;
}

#sec-9 nav.service-nav a svg .stroke {
  stroke: #C59C7E;
  stroke-width: 3.5px;
}

#sec-9 nav.service-nav a.active {
  color: #146492;
}

#sec-9 nav.service-nav a.active svg .fill {
  fill: #146492;
}

#sec-9 nav.service-nav a.active svg .stroke {
  stroke: #146492;
  stroke-width: 3.5px;
}

#sec-9 .service-leftMenu {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#sec-9 .service-leftMenu .title {
  background-color: #146492;
  color: #fff;
  font-size: 1.5em;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec-9 .service-leftMenu .title svg .fill {
  fill: #fff;
}

.user-card {
  padding: 2em;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.12));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  grid-gap: 0px 50px;
}

.user-card .photo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.user-card .photo img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.user-card .title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-card .text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-card .text .serv {
  background-color: #ECECEC;
  color: #828282;
  padding: .5em 1em;
  border-radius: 2em;
  font-weight: 500;
  margin: 0 .75em .75em 0;
}

footer {
  background-color: #373C3F;
  height: 250px;
}

@media (max-width: 767px) {
  footer {
    height: 50px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
  }
}

footer nav {
  height: 100%;
}

footer nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0px;
}

footer nav ul li a svg {
  fill: none;
}

footer nav ul li a svg path {
  fill: #C4C4C4;
}

footer nav ul li a svg.type-2 path {
  fill: none;
  stroke: #C4C4C4;
  stroke-width: 3px;
  stroke-linecap: square;
  stroke-linejoin: round;
}

footer nav ul li a.active svg path {
  fill: #C59C7E;
}

footer nav ul li a.active svg.type-2 path {
  fill: none;
  stroke: #C59C7E;
}

/* SWIPER SLIDERS */
.swiper-4, .swiper-3 {
  overflow: hidden;
  padding: 1em 0 3em;
}

.swiper-4 .swiper-button-prev,
.swiper-4 .swiper-button-next, .swiper-3 .swiper-button-prev,
.swiper-3 .swiper-button-next {
  width: 1.5em;
  height: 3em;
}

.swiper-4 .swiper-button-prev::after,
.swiper-4 .swiper-button-next::after, .swiper-3 .swiper-button-prev::after,
.swiper-3 .swiper-button-next::after {
  content: unset;
}

@media (max-width: 1199px) {
  .swiper-4 .swiper-button-prev,
  .swiper-4 .swiper-button-next, .swiper-3 .swiper-button-prev,
  .swiper-3 .swiper-button-next {
    display: none;
  }
}

.swiper-4 .swiper-button-next, .swiper-3 .swiper-button-next {
  right: -2em;
}

.swiper-4 .swiper-button-prev, .swiper-3 .swiper-button-prev {
  left: -2em;
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: unset;
}

.swiper-button-prev svg, .swiper-button-next svg {
  width: 1.5em;
  height: 3em;
  fill: none;
}

.swiper-button-prev svg line, .swiper-button-next svg line {
  stroke: #146492;
  stroke-width: 3px;
}

.swiper-pagination {
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet {
  width: 1em;
  height: 1em;
  background-color: #ECECEC;
  opacity: 1;
}

.swiper-pagination-bullet:not(:first-child) {
  margin-left: .75em;
}

.swiper-pagination-bullet-active {
  background-color: #C59C7E;
}

.swiper-container-fade .swiper-slide {
  opacity: 0 !important;
  -webkit-transition: .1s;
  transition: .1s;
  z-index: 1;
}

.swiper-container-fade .swiper-slide-active {
  opacity: 1 !important;
  z-index: 2;
}

.main-slider .swiper-button-prev svg line, .main-slider .swiper-button-next svg line, .thumbs-slider .swiper-button-prev svg line, .thumbs-slider .swiper-button-next svg line {
  stroke: #C59C7E;
  stroke-width: 4px;
}

.main-slider {
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}

.main-slider .swiper-slide {
  width: 100%;
  height: 500px;
  position: relative;
}

@media (max-width: 1659px) {
  .main-slider .swiper-slide {
    height: 460px;
  }
}

@media (max-width: 1399px) {
  .main-slider .swiper-slide {
    height: 380px;
  }
}

@media (max-width: 1199px) {
  .main-slider .swiper-slide {
    height: 325px;
  }
}

@media (max-width: 991px) {
  .main-slider .swiper-slide {
    height: 380px;
  }
}

@media (max-width: 767px) {
  .main-slider .swiper-slide {
    height: 330px;
  }
}

@media (max-width: 575px) {
  .main-slider .swiper-slide {
    height: 60vw;
  }
}

.main-slider .swiper-slide button {
  position: absolute;
  top: 1em;
  right: 1em;
}

@media (max-width: 991px) {
  .main-slider .swiper-slide button {
    right: 2em;
  }
}

@media (max-width: 575px) {
  .main-slider .swiper-slide button {
    width: 1.5em;
  }
}

.main-slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.main-slider .swiper-button-prev {
  left: 1em;
}

.main-slider .swiper-button-next {
  right: 1em;
}

@media (max-width: 1199px) {
  .main-slider .swiper-button-prev, .main-slider .swiper-button-next {
    width: 1.5em;
  }
}

@media (max-width: 767px) {
  .main-slider .swiper-button-prev {
    left: 0em;
  }
  .main-slider .swiper-button-next {
    right: 0em;
  }
  .main-slider .swiper-button-prev, .main-slider .swiper-button-next {
    background-color: rgba(68, 73, 76, 0.28);
    width: 2em;
    padding: .5em;
    top: 0px;
    margin-top: 0px;
    bottom: 0px;
    height: 100%;
  }
  .main-slider .swiper-button-prev svg line, .main-slider .swiper-button-next svg line {
    stroke: #fff;
    stroke-width: 4px;
  }
}

.thumbs-slider {
  padding: 3px 3px;
  overflow: hidden;
}

.thumbs-slider .swiper-slide-thumb-active {
  outline: 3px solid #C59C7E;
}

.thumbs-slider .swiper-slide img {
  width: 100%;
  height: 77px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 575px) {
  .thumbs-slider .swiper-slide img {
    height: 15vw;
  }
}

.thumbs-slider .swiper-button-prev {
  left: 0;
}

.thumbs-slider .swiper-button-next {
  right: 0;
}

@media (max-width: 1199px) {
  .thumbs-slider .swiper-button-prev, .thumbs-slider .swiper-button-next {
    width: 1.5em;
  }
}

@media (max-width: 767px) {
  .thumbs-slider .swiper-button-prev, .thumbs-slider .swiper-button-next {
    display: none;
  }
}

/* breadcrumbs */
.breadcrumb {
  font-size: .8em;
  margin-bottom: 0px;
}

/* pagination */
.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page-item {
  width: 2em;
  height: 1.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .page-item .page-link {
  width: 100%;
  height: 100%;
  color: #828282;
  border: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .page-item.active .page-link {
  background-color: #146492;
  color: #fff;
}

/* MODAL WINDOWS */
#header-menu nav ul {
  list-style: none;
  padding-left: 0px;
}

.modal .modal-content {
  background-color: #fff;
  border-radius: 0px;
  border: none;
}

.modal .modal-content .modal-body {
  padding: 2em;
}

.offcanvas {
  width: 450px;
}

@media (max-width: 575px) {
  .offcanvas {
    width: 100%;
  }
}

.offcanvas .offcanvas-body {
  padding: 2em;
}

.offcanvas .offcanvas-body nav ul li {
  text-align: center;
}

.offcanvas .offcanvas-body nav ul li:not(:first-child) {
  margin-top: 1em;
}

.offcanvas .offcanvas-body nav ul li a {
  font-size: 1.3em;
  color: #C59C7E;
  text-align: center;
}

.offcanvas .offcanvas-body nav ul li a.active {
  color: #146492;
}

.offcanvas .offcanvas-footer {
  padding: 1em;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.btn-close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  background: unset;
}

@media (max-width: 1399px) {
  .btn-close {
    top: 0.5em;
    right: 0.5em;
    width: 1.25em;
    height: 1.25em;
  }
}

.btn-close svg {
  width: 100%;
  height: 100%;
  fill: none;
}

.btn-close svg path {
  stroke: #C59C7E;
  stroke-width: 1.5px;
  stroke-linecap: square;
  stroke-linejoin: round;
}

.btn-close:hover svg path {
  stroke: #146492;
}
/*# sourceMappingURL=style.css.map */