$main-font: "Roboto";
$title-font: "Gilroy";
$color-1: #146492;
$color-2: #C59C7E;
$color-3: #ECECEC;

a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, table, ul, ol, dl {
  line-height: normal;
  margin-bottom: 0px;
}


/* mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* FORMS CUSTOMIZATION */
input,
textarea {
  background: #ffffff;
  border: 1px solid $color-3;
  border-radius: 0.3em;
  padding: 0.85em;
  width: 100%;
  line-height: normal;
  box-shadow: unset;
  &:not(:placeholder-shown) {
    border: 1px solid $color-3;
  }
  &:hover {
    border: 1px solid $color-3;
  }
  &:focus {
    border: 1px solid $color-1;
  }
}
input {
  &[type="search"] {
    padding: 0.85em 0.85em 0.85em 3em;
    outline: none;
    // background: url(../img/icons/search.svg) no-repeat 0.8em center #fff;
    background-size: 1.5em 1.5em;
    &:hover,
    &:focus {
    //   background: url(../img/icons/search-primary.svg) no-repeat 0.8em center
    //     #fff;
      background-size: 1.5em 1.5em;
    }
  }
  &[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: none;
    width: 1.3em;
    height: 1.3em;
    background-color: transparent;
    // background: url(../img/icons/radio.svg) no-repeat center;
    background-size: contain;
    padding: 0px;
    &:checked {
    //   background: url(../img/icons/radio-ch.svg) no-repeat center;
      background-size: contain;
    }
  }
  &[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: none;
    width: 1.3em;
    height: 1.3em;
    background-color: transparent;
    // background: url(../img/icons/mark.svg) no-repeat center;
    background-size: auto;
    background-color: $color-3;
    padding: 0px;
    border-radius: .25em;
    &:checked {
      background-color: $color-1;
    }
  }
}

button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
}
.btn {
    @include flex-center;
    border-radius: 4px;
    padding: 0.6em 2em;
    text-align: center;
    font-weight: 500;
    transition: 0.5s;
    width: fit-content;
    &-1 {
        background-color: $color-1;
        color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
            background: darken($color-1, 6%);
        }
        &:disabled {
            color: #C4C4C4;
            background: #7a7878;
        }
    }

    &-fav {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $color-3;
        @include flex-center;
        padding-top: 2px;
        position: absolute;
        top: 5px;
        right: 5px;
        svg {
            width: 22px;
            height: 22px;
            fill: none;
            path {
                fill: #878787;
            }
        }
        &.clicked{
            background-color: $color-2;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}


h1, h2, h3 {font-family: $title-font;}
h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 1em;
  color: $color-1;
  width: fit-content;
  background-color: #fff;
  padding: 0.1em 1em;
}
h2 {
  text-align: center;
  font-size: 2.25em;
  font-weight: 600;
  margin-bottom: 1em;
  color: $color-1;
}
h3 {
    text-align: left;
    font-size: 1.75em;
    font-weight: 700;
    margin-bottom: 1em;
    color: $color-1;
  }

.title-font {font-family: $title-font;}
.fs {
  &-07 {font-size: 0.7em;}
  &-08 {font-size: 0.8em;}
  &-09 {font-size: 0.9em;}
  &-11 {font-size: 1.1em;}
  &-12 {font-size: 1.2em;}
  &-13 {font-size: 1.3em;}
  &-14 {font-size: 1.4em;}
  &-15 {font-size: 1.5em;}
  &-16 {font-size: 1.6em;}
  &-17 {font-size: 1.7em;}
  &-18 {font-size: 1.8em;}
  &-19 {font-size: 1.9em;}
  &-20 {font-size: 2em;}
  &-90 {font-size: 9em;}
}
.fw {
  &-4 {font-weight: 400;}
  &-5 {font-weight: 500;}
  &-6 {font-weight: 600;}
  &-7 {font-weight: 700;}
  &-8 {font-weight: 800;}
  &-9 {font-weight: 900;}
}
.white {color: #fff;}
.black {color: #000;}

.color-1 {color: $color-1;}
.color-2 {color: $color-2;}
.color-3 {color: $color-3;}


.container {
    @media (min-width: 1650px){
        width: 1596px;
        max-width: 1596px;
    }
}
.mb-6 {margin-bottom: 6em;}


#sec-1 {
    height: 650px;
    @include flex-center;
    background: url(bg-imgs/bg1.png) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
    margin-bottom: -80px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 80px;
        background: rgba(36, 44, 49, 0.22);
        filter: blur(36px);
    }
}

/* SECTION 2 */
.tiles {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .tile {
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: calc((100% - 150px) / 5);
        // padding-top: 3em;
        margin-bottom: 25px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        img {
            height: 135px;
            width: 135px;
            object-fit: scale-down;
            display: block;
            margin: 0 auto;
        }
        .links {
            width: 100%;
            height: 100px;
            padding: 1em 0;
            @include flex-center;
            flex-wrap: wrap;
            border-radius: 4px;
            background: #FFFFFF;
            transition: .3s;
            a {
               font-size: 1.5em;
               font-weight: 500;
               color: $color-2;
               margin: 0 .5em;
               transition: .3s;
               text-align: center;
            }
            &:hover {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                a {
                    color: $color-1;
                    &::before {
                        content: "⦁ ";
                    }
                }
            }
        }
    }
}


/* card */
.card-mini {
    background-color: #fff;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
    .text {
        display: -webkit-box;
        -webkit-line-clamp: 3; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.2em;
        height: 3.6em;
        overflow: hidden;
        font-size: .9em;
        font-weight: 300;
    }
    .labels {
        position: absolute;
        top: 10px;
        left: 0px;
        div {
            color: #fff;
            padding: 0.1em 0.25em;
            margin-bottom: 0.2em;
            font-weight: 500;
            font-size: .95em;
            display: flex;
            align-items: center;
            img {
                margin-right: .15em;
                width: 1.5em;
                height: 1.5em;
                object-fit: scale-down;
            }
            &.vip {background-color: $color-1;}
            &.hot {background-color: $color-2;}
        }
    }
}

/* SECTION 5 */
#sec-5 {
    background: url(bg-imgs/bg2.png) no-repeat center bottom;
    background-size: cover;
}
article {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    img {
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
    .text {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.2em;
        height: 12em;
        overflow: hidden;
        font-size: .9em;
        font-weight: 300;
    }
}


/* SLIDERS */
.swiper-4 {
    overflow: hidden;
    padding: 1em 0 3em;
}
.swiper-3 {
    position: relative;
    overflow: hidden;
    padding: 1em 0;
}
.swiper-button-prev,
.swiper-button-next {
    width: 1.8em;
    height: 3.6em;
    &::after {content: unset;}
}
.swiper-button-next {
    right: -3em;
}
.swiper-button-prev {
    left: -3em;
}
.swiper-pagination {
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-bullet {
        width: 1em;
        height: 1em;
        background-color: $color-3;
        opacity: 1;
        &:not(:first-child){margin-left: .75em;}
        &-active {
            background-color: $color-2;
        }
    }
}

footer {
    background-color: #373C3F;
    min-height: 250px;
}